pandas
accelerate
huggingface_hub
transformers==4.57.6
protobuf
tqdm
torchvision
fsspec[http]==2025.10.0
httpx<1.0.0
requests
pyyaml
regex
tokenizers
safetensors
dill==0.4.0
multiprocess
xxhash
aiohttp
anyio
certifi
httpcore
idna
h11
filelock
